@*@model Login
*@
@{
    ViewData["Title"] = "Permission Page";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row text">

    <div class="col-md-8 offset-2">

        <h1>
            Add a new Permission
        </h1>

        <div class=row>
            <div class="col">



                <form asp-action="AssignPermissionsMyPrivilges">
                    <div style="width: 60%">
                        <label style="width: 30%;">Username</label>
                        @Html.DropDownList("UsernameId",ViewBag.UsernameId,"Select Username", new  { @style="width: 200px", onchange = "$(this).closest('form').submit();" })
                        <span style="color: red">@Html.Label((string)ViewBag.UserError)</span>
                    </div>
                </form>

                <br />

                <form asp-action="AssignPermissions">
                    <div  style="width: 60%">
                        <label style="width: 30%">Privilages Names</label>
                        @Html.DropDownList("PrivilegeNameId",ViewBag.PrivilegeNameId,"Select Privilege", new  { @style="width: 200px"})
                       
                        <input type="hidden" id="hiddenfield_id" name="hiddenfield_id" value="@ViewBag.ddlUserID">
                        <input type="submit" value="Add" class="btn btn-success text-white btn-sm" />
                        <span style="color: red;">@Html.Label((string)ViewBag.PrivilegeError)</span>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $('#UsernameId').select2({
            selectOnClose: true
        });
        $('#PrivilegeNameId').select2({
            selectOnClose: true
        });

                //$('#Username').bind('change', function () {
                //    $('#hiddenfield_id').val($(this).val());
                //});
                //console.log($('#hiddenfield_id').val);
    </script>
}



